<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Translator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="translate.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycontroller">
<div class="container"><br>
    <div class="jumbotron">
        <h1> Language Translator</h1>
        <div class="row">
            <div class="col-sm-6">
                <label for="SourceLanguage">Convert from</label>
                <select name="repeatSelect" id="source" ng-model="data.model" class="form-control">
                    <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
                <textarea rows="5" class="form-control" id="SourceLanguage" style="color:red;font-size: 30px;">
            </textarea><br>
                <button type="button" class="btn btn-success" ng-click="translate()">Translate</button>
            </div>
            <div class="col-sm-6">
                <label for="DestLanguage">Translate to</label>
                <select name="repeatSelect" id="destination" ng-model="data1.model" class="form-control">
                    <option ng-repeat="option in data1.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
                <textarea class="form-control" rows="5" id="DestLanguage" style="color:green;font-size: 30px;">{{text}}</textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>
